/*Styles for body of the page to ensure centered and themed*/

body, #root{
  box-sizing: border-box;
  display:flex;
  justify-content: center;
  align-items: center;
  color:whte;
  font-family: Poppins,sans-serif;
  background-color:#060724;
  margin: 0;
  padding: 0;
}

 
label {
  color: white;
}
h1 {
  font-size: 50px;
  font-weight:900;
  text-align: center;
  color: white;
  
}

h2 {
  color: #EB7F67;
  text-align: center;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top:10px;
}

.main-button {
  border-radius: 50px;
  text-align: center;
  padding: 10px 60px;
  font-weight: bolder;
  background-color: #C13B34;
  color: #F6EBCD;
  font-size: 20px;
  display:inline-block;
  cursor:pointer;
  font-family:Poppins,sans-serif
}

.main-button:hover {
  color: white;
}

.small-button {
  border-style: none;
  background-color: #FF6E70;
  color: white;
  font-size: 25px;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px; 
  width:40px;
  height:40px;
}

.long-button {
  border-style: none;
  background-color: #FF6E70;
  color: white;
  font-size: 15px;
  display: inline-block;
  cursor: pointer;
  margin: 4px 0px;  
  width: 80%;
  height:30px;
}

.categoryText {
  width: 80%;
  height: 30px;
  background-color: #C13B34;
  border: 1px solid white;
  color:white;
  font-weight: bold;
  font-family:Poppins,sans-serif;
  text-align: center;
  font-size: large;
  font-style:italic;
}

.container2 {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 800px;
  padding:0px;
}

.scale {
  width: 95%;
  height:20px;
  outline: none;
  opacity: '0.7';
  border-radius: 15px;
  transition: 'opacity .2s';
}


.scaleText {
  background-color: #EB7F67;
  padding:10px 15px;
  color:white;
  font-size:15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.CategoryScores{
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  min-width:700px;
  margin-Bottom:20px;
}

.optionText {
  font-family: 'Poppins';
  font-size: '50px';
  font-weight: bolder;
  text-align: 'center';
}

.finalprint {
  font-size: '200px';
}

.yesno, .noyes {
  font-family: 'Poppins';
  background: none;
  border: 1px solid white;
  color:white;
  font-size: 15px;
  padding: 4px 15px;
  margin:0px 0px 10px 0px;
  width: 75px;
}

.yesno {
  border-radius: 20px 0px 0px 20px;
}

.noyes {
  border-radius: 0px 20px 20px 0px;
}

.yesno:hover, .noyes:hover, .yesno.clicked, .noyes.clicked {
  background: #F6EBCD;
  color: black;
  cursor: pointer;
}


.dropdown {
  background: white;
  color: #060724;
  border: 1px solid black;
  cursor:pointer;
  font-family: Poppins,sans-serif;
  font-size:10px;
  text-align: center;
}

