/*Styles for body of the page to ensure centered and themed*/

body, #root{
  box-sizing: border-box;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:#FFF7EA;
  color:#C13B34;
  font-family:Poppins,sans-serif
}


h1 {
  font-size: 50px;
  font-weight:900;
  text-align: center;
  
}

h2 {
  color: #FB7F79;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.main-button {
  border-radius: 50px;
  text-align: center;
  padding: 10px 60px;
  font-weight: bolder;
  background-color: #C13B34;
  color: #F6EBCD;
  font-size: 20px;
  display:inline-block;
  cursor:pointer;
  font-family:Poppins,sans-serif
}

.main-button:hover {
  color: white;
}

.small-button {
  border-style: none;
  background-color: #FBB5BF;
  color: white;
  font-size: 25px;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px; 
  width:40px;
  height:40px;
}

.long-button {
  border-style: none;
  background-color: #FBB5BF;
  color: white;
  font-size: 15px;
  display: inline-block;
  cursor: pointer;
  margin: 4px 0px;  
  width: 80%;
  height:30px;
}

.categoryText {
  width: 80%;
  height: 30px;
  background-color: #C13B34;
  border: 1px solid white;
  color:white;
  font-weight: bold;
  font-family:Poppins,sans-serif;
  text-align: center;
  font-size: large;
  font-style:italic;
}

.container2 {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 800px;
  padding:0px;
}

.scale {
  width: 95%;
  height:20px;
  background: #C13B34;
  outline: none;
  opacity: '0.7';
  border-radius: 15px;
  transition: 'opacity .2s';
}


.scaleText {
  background-color: #FBB5BF;
  padding:10px 15px;
  color:#C13B34;
  font-size:15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
